.container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.original-price {
  text-decoration: line-through; /* Tachado del precio original */
}

.discount-price {
  color: #ff0000; /* Color rojo para el precio rebajado */
}

span {
  font-size: 1.2rem; /* Ajusta el tamaño de fuente para el texto del precio */
}

.size-list,
.color-list {
  display: flex;
}

.size-option-cell,
.color-option-cell {
  flex: 0 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.size-option-text,
.color-option-text {
  font-size: 14px;
  font-weight: bold;
}

.addToCartButton {
  font-size: 22px;
  padding: 24px 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-price {
  font-size: x-large;
}

.large-star {
  font-size: 28px; /* Elige el tamaño deseado */
}

@media (max-width: 470px) {
  #cartSidebar {
    width: 290px;
  }
}
