<div class="container">
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="!loading && product" class="row">
    <div class="col-md-6">
      <div id="productCarousel" class="carousel slide mb-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let image of product.images; let i = index" [class.active]="i === 0">
            <img [src]="image" class="d-block w-100" alt="{{ product.name }}" />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <h3>{{ product.name }}</h3>

      <div class="rating mb-2" *ngIf="product.ratingsQuantity && product.ratingsQuantity > 0">
        <span *ngFor="let star of getStarArray(product.ratingsAverage!)">
          <i class="bi bi-star-fill large-star"
            [ngClass]="{'text-warning': star === 100, 'text-muted': star === 0}"></i>
        </span>
        <small class="ms-2">
          {{ product.ratingsQuantity }} reseñas
        </small>

      </div>

      <pre>{{ product.description }}</pre>

      <p class="mb-2">Precio: <span class="product-price"
          [class.original-price]="product.priceAfterDiscount < product.price">{{ product.price
          | currency }}</span></p>
      <p *ngIf="product.priceAfterDiscount < product.price" class="mb-2">Precio con descuento: <span
          class="product-price discount-price">{{ product.priceAfterDiscount | currency }}</span></p>

      <div class="mb-4">
        <p class="fw-bold">Tallas disponibles:</p>
        <div class="size-list d-flex">
          <div *ngFor="let size of product.sizes" class="size-option" [class.selected]="size._id === selectedSize"
            (click)="selectedSize = size._id!">
            <div class="size-option-cell" [style.backgroundColor]="size._id === selectedSize ? '#ccc' : 'transparent'">
              <span class="size-option-text">{{ size.size }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <p class="fw-bold">Colores disponibles:</p>
        <div class="color-list d-flex">
          <div *ngFor="let color of product.colors" class="color-option" [class.selected]="color._id === selectedColor"
            (click)="selectedColor = color._id!">
            <div class="color-option-cell"
              [style.backgroundColor]="color._id === selectedColor ? '#ccc' : 'transparent'">
              <span class="color-option-text">{{ color.color }}</span>
            </div>
          </div>
        </div>
      </div>


      <div class="mb-4 d-flex align-items-center">
        <button class="btn btn-dark addToCartButton" (click)="addToCart()" [disabled]="disableAddToCartButton">AÑADIR AL
          CARRITO</button>
        <!-- Icono de corazón para agregar a favoritos -->
        <span class="favorite-icon ms-3" (click)="addToFavorites(product._id)">
          <i class="favorite-icon ms-2 bi bi-heart fs-3"></i>
        </span>
      </div>
    </div>
    <div class="mb-2">
      <hr>
      <h4>Reseñas de otros usuarios</h4>
      <button class="btn btn-outline-dark mb-3" (click)="addReview()">+ Añadir reseña</button>
      <ng-container *ngIf="product.ratingsQuantity && product.ratingsQuantity > 0; else noReviews">
        <div *ngFor="let review of reviews" class="mb-3">
          <div class="rating">
            <span *ngFor="let star of getStarArray(review.rating)">
              <i class="bi bi-star-fill" [ngClass]="{'text-warning': star === 100, 'text-muted': star === 0}"></i>
            </span>
          </div>
          <p>{{ review.review }}</p>
          <small>Publicado en {{ review.updatedAt | date }}&nbsp;&nbsp;&nbsp;**Compra verificada**</small>
        </div>
      </ng-container>
      <ng-template #noReviews>
        <div>
          <p>Todavía no hay reseñas publicadas</p>
        </div>
      </ng-template>
      
    </div>

  </div>
</div>