<div *ngIf="verificationSuccess || verificationError" class="container d-flex align-items-center justify-content-center">
    <div class="card bg-light text-center rounded-0">
        <div class="card-body">
            <ng-container *ngIf="verificationSuccess">
                <div class="verification-icon text-success">
                    <i class="bi bi-check-circle-fill display-1"></i>
                </div>
                <h2 class="mt-4">Email verificado!</h2>
                <p class="my-4">
                    Su email ha sido correctamente verificado.
                </p>
                <div class="d-grid gap-2">
                    <button class="btn btn-dark-custom btn-block" [routerLink]="'/'">IR A LA PÁGINA PRINCIPAL</button>
                </div>
            </ng-container>
            <ng-container *ngIf="verificationError">
                <div class="verification-icon text-danger">
                    <i class="bi bi-x-circle-fill display-1"></i>
                </div>
                <h2 class="mt-4">Verificación fallida</h2>

                <p class="my-4">Lo sentimos, no se pudo verificar su correo electrónico.
                </p>
                <div class="d-grid gap-2">
                    <button class="btn btn-dark-custom btn-block" [routerLink]="'/'">IR A LA PÁGINA PRINCIPAL</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>