<div *ngIf="contentLoaded" class="container">
    <h2 class="mb-4 text-center">DETALLES DEL PEDIDO</h2>

    <div *ngIf="order" class="row">
        <div class="col-md-8">
            <div class="card mb-4 rounded-0 border-0">
                <div class="card-body">
                    <div *ngFor="let item of order.products" class="mb-4">
                        <div class="row">
                            <div class="col-md-2">
                                <a [routerLink]="['/product', item.product]">
                                    <img [src]="getProductById(item.product)?.mainImage" alt="Product Image"
                                        class="img-thumbnail border-0 rounded-0" width="100" height="100">
                                </a>
                            </div>
                            <div class="col-md-10">
                                <p class="mt-0">{{ getProductById(item.product)?.name }}</p>
                                <p class="mb-0">Cantidad:
                                    {{ item.totalProductQuantity }}
                                </p>
                                <p class="mb-0">Precio: {{ getProductById(item.product)?.priceAfterDiscount | currency
                                    }}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card rounded-0 border-0">
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark-custom btn-block" [routerLink]="'/account/my-orders'">VOLVER A MIS
                            PEDIDOS</button>
                    </div>
                </div>
            </div>
            <div class="card rounded-0 mt-5">
                <div class="card-body">
                    <h5 class="card-title">ID #{{ order._id }}</h5>
                    <hr>
                    <p [ngClass]="{ 'text-danger': order.status === 'Not Processed',
                'text-primary': order.status === 'Processing',
                'text-info': order.status === 'Shipped',
                'text-success': order.status === 'Delivered',
                'text-muted': order.status === 'Cancelled' }">
                        <strong>Estado:</strong> {{ order.status }}
                    </p>
                    <p><strong>Fecha de orden:</strong> {{ order.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
                    <p><strong>Dirección de envío:</strong> {{ order.shippingAddress.address }} - CP: {{
                        order.shippingAddress.postalCode }} / {{
                        order.shippingAddress.city }} / {{ order.shippingAddress.country }}</p>
                    <p><strong>Método de pago:</strong> {{ order.paymentMethod == 'card'? 'Tarjeta': 'Efectivo' }}</p>
                    <p><strong>Precio de envío:</strong> {{ order.shippingPrice | currency }}</p>
                    <p><strong>Total pagado:</strong> {{ order.totalPrice | currency }}</p>
                    <p><strong>Teléfono de contacto:</strong> {{ order.phone }}</p>

                </div>
            </div>

        </div>
    </div>
</div>