/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
:root {
  --bg-color1: #1a1a1a;
  --bg-color2: #ffffff;
  --bg-danger: #c20000;
}

body {
  font-family: "Dosis", sans-serif;
}

.original-price {
  text-decoration: line-through; /* Tachado del precio original */
}

.discount-price {
  color: #ff0000; /* Color rojo para el precio rebajado */
}

.card-body span {
  font-size: 1.2rem; /* Ajusta el tamaño de fuente para el texto del precio */
}

.favorite-icon {
  cursor: pointer;
  color: gray;
}

.favorite-icon:hover {
  color: red; /* Cambia el color a rojo cuando el cursor está sobre el ícono */
}

.btn-dark {
  background-color: var(--bg-color1);
}

.btn-outline-dark {
  border-color: var(--bg-color1);
  color: var(--bg-color1);
}

.btn-outline-dark:hover {
  background-color: var(--bg-color1);
}

.btn {
  height: 40px; /* Cambia la altura según tus necesidades */
  border-radius: 0; /* Bordes rectos */
}

.btn-danger {
  background-color: var(--bg-danger) !important;
  border: none !important;
}

.btn-outline-danger {
  border-color: var(--bg-danger);
  color: var(--bg-danger);
}

.btn-outline-danger:hover {
  background-color: var(--bg-danger);
}

.cancel-button-class {
  border: 1px solid var(--bg-color1) !important;
  color: var(--bg-color1) !important;
  font-weight: bold !important;
  background-color: var(--bg-color2) !important;
}

.confirm-button-class {
  border: 1px solid var(--bg-color1) !important;
  color: var(--bg-color2) !important;
  background-color: var(--bg-color1) !important;
}
.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.form-control {
  height: 40px; /* Cambia la altura según tus necesidades */
  border-radius: 0; /* Bordes rectos */
}

.navbar {
  height: 70px; /* Ajusta la altura según tus necesidades */
  border-bottom: 1px solid rgba(0, 0, 0, 0.105);
  background-color: var(--bg-color2) !important;
}

.offcanvas-body .dropdown-item:active {
  background-color: var(--bg-color1);
  color: var(--bg-color2);
}

.btn-dark-custom {
  background: linear-gradient(
    to right,
    var(--bg-color1) 0%,
    var(--bg-color1) 50%,
    var(--bg-color2) 50%,
    var(--bg-color2) 100%
  );
  background-size: 200% auto;
  transition: background-position 0.9s ease;
  color: var(--bg-color2);
  border: 1px solid var(--bg-color1);
}

.btn-dark-custom:hover {
  background-position: -100% 0;
  border: 1px solid var(--bg-color1);
  color: var(--bg-color1);
}

.btn-danger-custom {
  background: linear-gradient(
    to right,
    var(--bg-danger) 0%,
    var(--bg-danger) 50%,
    var(--bg-color2) 50%,
    var(--bg-color2) 100%
  );
  background-size: 200% auto;
  transition: background-position 0.9s ease;
  color: var(--bg-color2);
  border: 1px solid var(--bg-danger);
}

.btn-danger-custom:hover {
  background-position: -100% 0;
  border: 1px solid var(--bg-danger);
  color: var(--bg-danger);
}

.custom-input {
  width: 220px !important;
  height: 55px !important;
}

.custom-large-input {
  width: 97% !important;
  height: 55px !important;
}

.custom-textarea-input {
  width: 97% !important;
  height: 200px !important;
}