<div *ngIf="contentLoaded" class="container">
    <main>
        <div class="py-5 text-center">
            <h3>MIS PEDIDOS</h3>
        </div>


        <div *ngIf="!orders || orders.length === 0" class="text-center">
            <p>No tienes pedidos en tu historial</p>
            <button class="btn btn-dark-custom btn-block" [routerLink]="'/'">IR A COMPRAR</button>
        </div>

        <ul class="list-group" *ngIf="orders && orders.length > 0">
            <li class="list-group-item rounded-0" *ngFor="let order of orders">
                <h5 class="mt-3 mb-3">Pedido #{{ order._id }}</h5>
                <p [ngClass]="{ 'text-danger': order.status === 'Not Processed',
                    'text-primary': order.status === 'Processing',
                    'text-info': order.status === 'Shipped',
                    'text-success': order.status === 'Delivered',
                    'text-muted': order.status === 'Cancelled' }">
                    <strong>Estado:</strong> {{ order.status }}
                </p>
                <p><strong>Total pagado:</strong> ${{ order.totalPrice }}</p>
                <p><strong>Fecha de pedido:</strong> {{ order.createdAt | date }}</p>
                <p><strong>Dirección de envío:</strong> {{ order.shippingAddress.address }}, {{
                    order.shippingAddress.city }}, {{ order.shippingAddress.country }}</p>

                <div class="d-grid gap-2">
                    <a class="btn btn-outline-dark" [routerLink]="['/account/my-orders', order._id]">Ver Detalles</a>
                </div>
            </li>
        </ul>
    </main>

</div>